{% extends 'layout.html' %}
{% block content %}
<style>
body {
  background-image: url('/static/img/backg.jpg');
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
}
h1, h2, h3, h4 {
  color:white;
  text-align: center;
  text-transform: uppercase;
}
input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color:white;
  color: black;
  border-radius: 4px;
}
select {
  width: 70%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
button[type=submit] {
  width: 70%;
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  font-family: "Lucida Console", Courier, monospace;
}
.message {
    color: white;
}
</style>
<div class="topnav" id="myTopnav">
    <a href="/home" class="active">Inicio</a>
    {% if current_user.rol=="Emisor" %}
    <a href="/calflujo" role="button">Emitir</a>
    <a href="/oldcalcs" role="button">bonos emitidos</a>
    {% else %}
    <a href="/emitbons" role="button">Evaluar</a>
    <a href="/oldcalcs" role="button">bonos evaluados</a>
    {% endif %}
    <a href="/xcontra" role="button">Mi perfil</a>
    <a href="/logout" role="button">Cerrar sesión</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 myblock">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
            {% if current_user.rol=="Emisor" %}
            <h1 class="h1">Ingreso de datos de Bono</h1>
            {% endif %}
            {% if current_user.rol=="Bonista" %}
            <h1 class="h1">Configuración de Bono</h1>
            {% endif %}
            <form action="/calflujo" method="POST" class="form-group">
                <br>
                <select name="mcalculo" id="mcalc">
                    <option value="" selected hidden>Método de cálculo</option>
                    <option value="Americano">Americano</option>
                    <option value="Aleman">Aleman</option>
                    <option value="Frances">Frances</option>
                </select>
                <br><br>
                <select name="tmoneda" id="tmone">
                    <option value="" selected hidden>Tipo de moneda</option>
                    <option value="Sol">Sol</option>
                    <option value="Dolar">Dolar</option>
                    <option value="Euro">Euro</option>
                </select>
                {% if current_user.rol=="Emisor" %}
                <input type="number" step="0.00000001" name="ianual" placeholder="Inflación Anual (%)" class="form-control">
                {% endif %}
                {% if current_user.rol=="Bonista" %}
                <h4 class="h4">Inflación Anual (%): </h4>
                <input type="number" step="0.00000001" name="ianual" value={{bono.ianual}} readonly="readonly" class="form-control">
                {% endif %}
                <br><br>
                <h3 class="h3">Datos de Bono</h3>
                <input type="number" step="0.01" name="vnominal" placeholder="Valor nominal" class="form-control">
                <br>
                <input type="number" step="0.01" name="vcomercial" placeholder="Valor comercial" class="form-control">
                <br>
                <input type="number" name="nanos" placeholder="Numero de años" class="form-control">
                <br>
                <select name="fpago" id="fpago">
                    <option value="" selected hidden>Frecuencia de pago</option>
                    <option value="Diaria">Diaria</option>
                    <option value="Quincenal">Quincenal</option>
                    <option value="Mensual">Mensual</option>
                    <option value="Bimestral">Bimestral</option>
                    <option value="Trimestral">Trimestral</option>
                    <option value="Cuatrimestral">Cuatrimestral</option>
                    <option value="Semestral">Semestral</option>
                    <option value="Anual">Anual</option>
                </select>
                <br><br>
                <select name="dxano" id="dxano">
                    <option value="" selected hidden>Dias por Año</option>
                    <option value="360">360</option>
                    <option value="365">365</option>
                </select>
                <br><br>
                <select name="ttasa" id="ttasa">
                    <option value="" selected hidden>Tipo de tasa de interés</option>
                    <option value="Efectiva">Efectiva</option>
                    <option value="Nominal">Nominal</option>
                </select>
                <br><br>
                <select name="capi" id="capi">
                    <option value="" selected hidden>Capitalización</option>
                    <option value="Diaria">Diaria</option>
                    <option value="Quincenal">Quincenal</option>
                    <option value="Mensual">Mensual</option>
                    <option value="Bimestral">Bimestral</option>
                    <option value="Trimestral">Trimestral</option>
                    <option value="Cuatrimestral">Cuatrimestral</option>
                    <option value="Semestral">Semestral</option>
                    <option value="Anual">Anual</option>
                </select>
                <br>
                <input type="number" step="0.00000001" name="tinteres" placeholder="Tasa de interés Anual (%)" class="form-control">
                <br>
                <input type="number" step="0.00000001" name="tdesc" placeholder="Tasa de Descuento Anual (%)" class="form-control">
                <br>
                <input type="number" step="0.00000001" name="irenta" placeholder="Impuesto a la Renta (%)" class="form-control">
                <br>
                <input type="date" id="femision" name="femision" value="2020-01-01" min="1900-01-01" max="2200-01-01">
                <br><br>
                {% if current_user.rol=="Emisor" %}
                <h4 class="h4">Indique los plazos de gracia en orden y separados por comas</h4>
                <h4 class="h4">Ejemplo: T,T,P,P</h4>
                <input type="text" name="pgracia" placeholder="Plazos de Gracia" class="form-control">
                {% endif %}
                {% if current_user.rol=="Bonista" %}
                <h4 class="h4">Plazos de gracia ordenados y separados por comas: </h4>
                {% if bono.pgracia=="" %}
                <input type="text" name="pgracia" value="" class="form-control" readonly="readonly">
                {% else %}
                <input type="text" name="pgracia" value={{bono.pgracia}} class="form-control" readonly="readonly">
                {% endif %}
                {% endif %}
                <h3 class="h3">Costes y gastos Iniciales</h3>
                <input type="number" step="0.00000001" name="prima" placeholder="% Prima (%)" class="form-control">
                <br>
                <input type="number" step="0.00000001" name="estruc" placeholder="% Estructuración (%)" class="form-control">
                <br>
                <input type="number" step="0.00000001" name="coloc" placeholder="% Colocación (%)" class="form-control">
                <br>
                <input type="number" step="0.00000001" name="flota" placeholder="% Flotación (%)" class="form-control">
                <br>
                <input type="number" step="0.00000001" name="cavali" placeholder="% CAVALI (%)" class="form-control">
                <br><br>
                {% if current_user.rol=="Emisor" %}
                <button type="submit" class="btn btn-block btn-dark mybtn">Emitir y Calcular</button>
                {% endif %}
                {% if current_user.rol=="Bonista" %}
                <button type="submit" class="btn btn-block btn-dark mybtn">Guardar y Calcular</button>
                {% endif %}
                <br><br>
            </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
    </div>
</div>
{% endblock %}