{% extends 'layout.html' %}
{% block content %}
<style>
body {
  background-image: url('/static/img/backg.jpg');
  font-family: "Lucida Console", Courier, monospace;
}
h1, h2 {
  color:white;
  text-align: center;
  text-transform: uppercase;
}
p {
  text-align: center;
  font-size: 20px;
  
}
.button {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.buttonc {
  background-color:#f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
</style>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Menú Principal</h1>
        <h2 class="display-4">¿Que desea hacer?</h2>
        <hr class="my-4">
        <p class="lead">
          <br>
          {% if current_user.rol=="Emisor" %}
          <a class="button" href="/calflujo" role="button">Emitir un bono</a>
          {% endif %}
          {% if current_user.rol=="Bonista" %}
          <a class="button" href="/emitbons" role="button">Evaluar un bono</a>
          {% endif %}
          <br><br><br>
          <a class="button" href="/xcontra" role="button">Ver mi Perfil</a>
          <br><br><br>
          {% if current_user.rol=="Emisor" %}
          <a class="button" href="/oldcalcs" role="button">Ver bonos emitidos</a>
          {% endif %}
          {% if current_user.rol=="Bonista" %}
          <a class="button" href="/oldcalcs" role="button">Ver evaluaciones pasadas</a>
          {% endif %}
          <br><br><br>
          <a class="buttonc" href="/logout" role="button">Cerrar sesión</a>
        </p>
      </div>
</div>
{% endblock %}