{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Menú Principal</h1>
        <h2 class="display-4">¿Que desea hacer?</h2>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/calflujo" role="button">Calcular flujo de caja de bono corporativo</a>
          <br>
          <br>
          <a class="btn btn-primary btn-lg" href="" role="button">Ver mi Perfil</a>
          <br>
          <br>
          <a class="btn btn-primary btn-lg" href="/oldcalcs" role="button">Ver calculos pasados</a>
          <br>
          <br>
          <a class="btn btn-primary btn-lg" href="/logout" role="button">Cerrar sesión</a>
        </p>
      </div>
</div>
{% endblock %}