{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    body{
        background:aquamarine;
    }
.myblock{
    border:1px solid black;
    border-radius: 4%;
    background: rgba(0,0,0,0.5);
    margin-top:20%;
    padding:3%;
}
.h1{
    margin-bottom:5% ;
    color:aqua;
}
.mybtn{
 background: rgba(0,0,0,0.5);
}
.message {
    color: white;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 myblock">
            <h1 class="h1">Registro</h1>
            <form action="/signup" method="POST" class="form-group">
                <div class="form-group">
                    <input type="text" name="username" placeholder="Nombre de Usuario" class="form-control">
                </div>            
            <div class="form-group">
                <input type="email" name="email" placeholder="Correo electronico" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Contraseña" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-dark mybtn">Registrarse</button>
                <a href="/login" class="btn btn-block btn-dark  mybtn link">Iniciar sesión</a>
            </div>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12"></div>
    </div>
</div>


{% endblock %}